border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

mayusc()
	text-transform:uppercase

color1()
	background rgb(52,152,219)

padin(n)
	padding n

unem()
 margin-top 18px

centrado()
	text-align center

monse()
	font-family:'Monserrat', 'Open Sans', sans-serif

open-san()
	font-family:'Open Sans', sans-serif


*
	monse()
	margin:0
	padin(0)

a
	color #fff

li
	list-style none

.jumbotron
	height: 690px
    overflow: hidden
    padin(0)
    width: 100%

.navbar-default 
    background-color: rgba(255,255,255,0)
    border: none

header.header 
    position: absolute;
    width: 100%;
